.main-title{
    padding-left: 30px;
}

.img-banner{
    width: 100%;
    text-align: center;
}

.contents{
    text-align: center;
    background-color: #CCCCCC;
    padding: 20px;
}

h2{
    font-size: 2.5rem;
}

.mission{
    font-size: 1.4rem;
}

em strong{
    color:red;
}

.differentials{
    background-color: white;
    padding: 30px;
}

h3{
    text-align: center;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.items{
    font-style: italic;
}

.img-differentials{
    width: 50%;
}